/* ######## CSS Reset ######## */
h1, h2, h3, h4, h5, h6, p, ol, ul, li,
fieldset, form, label, table, tbody, tfoot, thead,
tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* ######## End Reset ######## */

h1 {
	color: green;
}

fieldset {
	margin: 1em;
	border: solid black .1em;
}

input, label, legend {
 	margin: .7em;
}