/* ######## CSS Reset ######## */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
fieldset,
form,
label,
table,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* ######## End Reset ######## */

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
}

h1 {
  color: green;
}

#title_name{
align-items: center;
display: inline-block;
font-size: 40px;
}

#app_div {
  position: absolute;
  width: 80vw;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
}

.spawn_div {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  right: 0;
}

.grain_outer_box.live .spawn_div {
  display: none;
}

.record_div,
.pause_div,
.remove_div {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100px;
  height: 100%;
  box-sizing: border-box;
  z-index: 5;
	color:white;
	cursor: pointer;
}
.record_div {
  right: 0;

}
.pause_div {
  right: 0;
}

.remove_div {
  left: 0;
}

.dormant .pause_div, .dormant .remove_div {
	display:none;
}

.live .record_div {
  display: none;
}


.grain_outer_box {
  position: relative;
  width: 100%;
  height: 150px;
  display: flex;
  align-items: center;
  border: 2px solid black;
}

.grain_block_box {
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: gray;
  opacity: 0.7;
}

.grain_outer_box.live .grain_block_box {
  display: none;
}

.grain_record_box {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grain_outer_box.live .grain_record_box {
  display: none;
}

.g_rect{
position: absolute;
height: inherit;
border-radius: 20px;
}

.dormant .g_rect {
  display: none;
}

.add_grain_text,
.remove_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

#footer {
  position: absolute;
  color: black;
  bottom: 0;
  width: 100%;
  height: 3rem;
  padding: 20px;
  text-align: center;      /* Footer height */
}

footer p{
  background-color: #f2f2f2;
  display:inline-block;
  text-align: center;
}

.main-title-container {
  display: flex;
  justify-content: center;
  /* background-image: linear-gradient(blue, #f2f2f2); */
}



.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  padding: 0;
  width: 100%;
  flex-direction: row;
  width: 80vw;

}

.main-nav li {
  list-style-type: none;
}

.main-nav a {
  text-decoration: none;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  display: block;
}

.main-nav > li > a {
  color: black;
  font-size: 22px;
}

.main-nav > li > a:hover {
  color: black;
  text-shadow: #ffc0cb 2px 0 10px;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 400%;
}

.main-title-container a {
  text-shadow: #ffc0cb 2px 0 10px;
  text-decoration: none;
}


.homeButton a {
  font-size: 250%;
  margin-left: 0px;
  margin-right: 10px;
  padding-top: 0px;
  padding-left: 0px;
  text-align: left;
  color: black;
}

.homeButton p {
  transform: translateY(10px);
}

.homeButton a:hover{
  color: blue;
}

.home-page-create{
  position: absolute;
  width: 80vw;
  height: 100%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: space-evenly;
}


#createRoomID{
  display: inline-block;
  align-self: center;
  border: none;
  padding: 2rem 2rem;
  text-decoration: none;
  background: white;
  font-family: sans-serif;
  font-size: 1.8rem;
  color: blue;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 250px;
  border-color: blue;
  border-style: solid;
  touch-action: manipulation;
  transition: all 235ms ease-in-out;
  box-shadow: rgba(0, 0, 255, .3) 2px 20px 20px -3px;
}

#createRoomID:hover{
background: blue;
color:white;
transform: translate3d(0, 2px, 0);
}
